In [1]:
import pandas as pd

In [2]:
df_th = pd.read_csv('thyroidDF甲状腺.csv', encoding='gbk')
df_th

,年龄,性别,是否服用甲状腺素,是否服用抗甲状腺药物,是否生病,患者是否接受过甲状腺手术,是否正在接受 I131 治疗,是否患有肿瘤,是否在血液中测量了 TSH,TSH 水平,是否在血液中测量了T3,T3水平,甲亢医学诊断
0,18,女,否,否,否,否,否,否,是,0.300,否,NaN,-
1,18,女,否,否,否,否,否,否,是,1.600,是,1.9,-
2,18,女,否,否,否,否,否,否,否,NaN,否,NaN,-
3,18,女,否,否,否,否,否,否,否,NaN,否,NaN,-
4,18,女,否,否,否,否,否,否,否,NaN,否,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4327,22,男,是,否,否,否,否,否,是,13.000,是,1.4,M
4328,22,男,是,否,否,否,是,否,是,0.040,是,2.3,N
4329,22,男,是,否,否,是,否,否,是,0.075,是,1.3,-
4330,22,男,是,否,否,否,否,否,是,0.005,否,NaN,N
4331,22,男,是,否,否,否,是,否,是,5.500,否,NaN,-

In [3]:
df_th.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4332 entries, 0 to 4331
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   年龄              4332 non-null   int64
 1   性别              4199 non-null   object
 2   是否服用甲状腺素        4332 non-null   object
 3   是否服用抗甲状腺药物      4332 non-null   object
 4   是否生病            4332 non-null   object
 5   患者是否接受过甲状腺手术    4332 non-null   object
 6   是否正在接受 I131 治疗  4332 non-null   object
 7   是否患有肿瘤          4332 non-null   object
 8   是否在血液中测量了 TSH   4332 non-null   object
 9   TSH 水平          3878 non-null   float64
 10  是否在血液中测量了T3     4332 non-null   object
 11  T3水平            3060 non-null   float64
 12  甲亢医学诊断          4332 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 440.1+ KB

In [4]:
df_th1 = pd.get_dummies(df_th, columns=['是否服用甲状腺素', '是否生病', '患者是否接受过甲状腺手术', '是否正在接受 I131 治疗', '是否患有肿瘤', '是否在血液中测量了T3'])
df_th1

,年龄,性别,是否服用抗甲状腺药物,是否在血液中测量了 TSH,TSH 水平,T3水平,甲亢医学诊断,是否服用甲状腺素_否,是否服用甲状腺素_是,是否生病_否,是否生病_是,患者是否接受过甲状腺手术_否,患者是否接受过甲状腺手术_是,是否正在接受 I131 治疗_否,是否正在接受 I131 治疗_是,是否患有肿瘤_否,是否患有肿瘤_是,是否在血液中测量了T3_否,是否在血液中测量了T3_是
0,18,女,否,是,0.300,NaN,-,1,0,1,0,1,0,1,0,1,0,1,0
1,18,女,否,是,1.600,1.9,-,1,0,1,0,1,0,1,0,1,0,0,1
2,18,女,否,否,NaN,NaN,-,1,0,1,0,1,0,1,0,1,0,1,0
3,18,女,否,否,NaN,NaN,-,1,0,1,0,1,0,1,0,1,0,1,0
4,18,女,否,否,NaN,NaN,S,1,0,1,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4327,22,男,否,是,13.000,1.4,M,0,1,1,0,1,0,1,0,1,0,0,1
4328,22,男,否,是,0.040,2.3,N,0,1,1,0,1,0,0,1,1,0,0,1
4329,22,男,否,是,0.075,1.3,-,0,1,1,0,0,1,1,0,1,0,0,1
4330,22,男,否,是,0.005,NaN,N,0,1,1,0,1,0,1,0,1,0,1,0
4331,22,男,否,是,5.500,NaN,-,0,1,1,0,1,0,0,1,1,0,1,0