In [1]:
import pandas as pd

In [2]:
df_yy = pd.read_csv('大学生患抑郁症数据信息.csv', encoding='gbk')
df_yy

    性别    年龄  年级         CGPA 是否有抑郁症 治疗药物
0    女  18.0   1  3.00 - 3.49    Yes  氟西汀
1    男  21.0   2  3.00 - 3.49     No  NaN
2    男  19.0   1  3.00 - 3.49    Yes  氟西汀
3    女  22.0   3  3.00 - 3.49    Yes  氟西汀
4    男  23.0   4  3.00 - 3.49     No  NaN
..  ..   ...  ..          ...    ...  ...
96   女  21.0   1  3.50 - 4.00     No  NaN
97   男  18.0   2  3.00 - 3.49    Yes  舍曲林
98   女  19.0   3  3.50 - 4.00    Yes  舍曲林
99   女  23.0   4  3.50 - 4.00     No  NaN
100  男  20.0   2  3.00 - 3.49     No  NaN

[101 rows x 6 columns]

In [4]:
df_yy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   性别      101 non-null    object
 1   年龄      100 non-null    float64
 2   年级      101 non-null    int64
 3   CGPA    101 non-null    object
 4   是否有抑郁症  101 non-null    object
 5   治疗药物    35 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.9+ KB

In [3]:
df_yy1 = pd.get_dummies(df_yy, columns=['是否有抑郁症', '治疗药物'])
df_yy1

,性别,年龄,年级,CGPA,是否有抑郁症_No,是否有抑郁症_Yes,治疗药物_帕洛西汀,治疗药物_帕罗西汀,治疗药物_氟西汀,治疗药物_舍曲林,治疗药物_阿米替林
0,女,18.0,1,3.00 - 3.49,0,1,0,0,1,0,0
1,男,21.0,2,3.00 - 3.49,1,0,0,0,0,0,0
2,男,19.0,1,3.00 - 3.49,0,1,0,0,1,0,0
3,女,22.0,3,3.00 - 3.49,0,1,0,0,1,0,0
4,男,23.0,4,3.00 - 3.49,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
96,女,21.0,1,3.50 - 4.00,1,0,0,0,0,0,0
97,男,18.0,2,3.00 - 3.49,0,1,0,0,0,1,0
98,女,19.0,3,3.50 - 4.00,0,1,0,0,0,1,0
99,女,23.0,4,3.50 - 4.00,1,0,0,0,0,0,0
100,男,20.0,2,3.00 - 3.49,1,0,0,0,0,0,0